<article {{bind-attr class=":row post.last"}}>
  <div class="columns">
    <header>
      <h3>
        {{#unless post.body}}
          {{#unless post.url}}
            {{#link-to post.path post.id}}
              {{post.title}}
            {{/link-to}}
          {{else}}
            <a bind-attr href=post.url>
              {{post.title}}
            </a>
          {{/unless}}
        {{else}}
          {{post.title}}
        {{/unless}}
      </h3>

      <h4 class="subheader">
        <small>
          Posted {{post.created}}

          {{#if post.updated}}
            &nbsp;//&nbsp;
            Updated {{post.updated}}
          {{/if}}
        </small>
      </h4>
    </header>

    {{#if post.content}}
      <section class="row">
        <div class="columns">
          {{{post.content}}}
        </div>
      </section>
    {{else}}
      <section class="row">
        <div class="columns">
          {{{post.excerpt}}}
        </div>
      </section>

      <footer class="row">
        <div class="large-3 small-5 columns">
          {{#unless post.url}}
            {{#link-to post.path post.id}}
              Read more...
            {{/link-to}}
          {{else}}
            <a {{bind-attr href=post.url}}>Read more...</a>
          {{/unless}}
        </div>

        <div class="large-9 small-7 columns text-right">
          <span class="tag">{{post.category}}</span>

          {{#each tag in post.tags}}
            <span class="tag hide-small">{{tag}}</span>
          {{/each}}
        </div>
      </footer>
    {{/if}}
  </div>
</article>