<h3>
  {{friendGroup.name}}
  &nbsp;
  <span {{bind-attr class="friendGroup.icon :icon"}}></span> 
</h3>

<p>
  {{friendGroup.description}}
</p>

<ul class="large-block-grid-2 small-block-grid-1">
  {{#each friend in friendGroup.friends}}
    <li>
      <strong>{{friend.name}}</strong>
      <br>
      <a {{bind-attr href=friend.url}}>
        <em>{{friend.url}}</em>
      </a>
    </li>
  {{/each}}
</ul>