<article {{bind-attr class=":row last"}}>
  <div class="columns">
    <header>
      <h3>
        {{#unless body}}
          {{#unless url}}
            {{#link-to this.path this.id}}
              {{title}}
            {{/link-to}}
          {{else}}
            <a bind-attr href=url>
              {{title}}
            </a>
          {{/unless}}
        {{else}}
          {{title}}
        {{/unless}}
      </h3>

      <h4 class="subheader">
        <small>
          Posted {{created}}

          {{#if updated}}
            &nbsp;//&nbsp;
            Updated {{updated}}
          {{/if}}
        </small>
      </h4>
    </header>

    {{#if model.content}}
      <section class="row">
        <div class="columns">
          {{{model.content}}}
        </div>
      </section>
    {{else}}
      <section class="row">
        <div class="columns">
          {{{excerpt}}}
        </div>
      </section>

      <footer class="row">
        <div class="large-3 small-5 columns">
          {{#unless url}}
            {{#link-to this.path this.id}}
              Read more...
            {{/link-to}}
          {{else}}
            <a {{bind-attr href=url}}>Read more...</a>
          {{/unless}}
        </div>

        <div class="large-9 small-7 columns text-right">
          <span class="tag">{{category}}</span>

          {{#each tags}}
            <span class="tag hide-small">{{this}}</span>
          {{/each}}
        </div>
      </footer>
    {{/if}}
  </div>
</article>