{{partial "nav"}}

{{partial "header"}}

<main class="row">
  <div class="large-8 columns">
    {{outlet}}
  </div>

  <div class="large-3 columns">
    {{partial "sidebar"}}
  </div>
</main>

{{partial "into-lately"}}

{{partial "footer"}}

{{partial "copyright"}}