{{#with controller.meta as meta}}
  <h2>{{meta.title}}</h2>

  <p>{{meta.description}}</p>
{{/with}}

{{#each post in model}}
  {{post-item post=post}}
{{else}}
  <article class="row">
    <div class="columns">
      <header>
        <h3>No posts were found</h3>
      </header>

      <section>
        <p>
          It could be that you are trying to reach a page number
          that doesn't exist.
        </p>
      </section>
    </div>
  </article>
{{/each}}

{{partial "pagination"}}